.sbcontainer{
    z-index: 0;
}
.scoreboard{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.score1, .score2{
    display: flex;
    flex-direction: column;
}
.actions{
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 400px;
    margin: auto;
}
.roundCounter{
    background-color: var(--rcounter-bg);
    color: var(--rcounter);
    border: 1px solid grey;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1.15rem;
}
.actions button{
    max-height: 60px;
    max-width: 450px;
}
@media screen and (max-width: 780px) {
.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
hr{
    margin-top: 35px;
    width: 200px;
    height: 2px;
    background-color: grey;
    color: grey;
    border-color: grey;
    border: solid;
    border-radius: 2px;
}
.score1, .score2{
    display: flex;
    flex-direction: column;
}
.scorebtn{
    width: 150px;
    height: 50px;
    margin: auto;
}
.teamName{
    font-size: 2rem;
}
.close{
    margin-top: 20px;
}
.actions{
    bottom: 0;
    width: 40vw;
}
}