.top{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
}
.top button{
    max-height: 50px;
    align-self: center;
}
hr{
    transform: rotate(180);
}
.specSet{
    padding: 0;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 95vw;
}
.types{
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.types button{
    /* width: 20px; */
    width: 200px;
    height: 65px;
    font-size: 1.25rem;
}
.p2, .t2 ,.ovo{
    width: 40vw;
}
.t2 .options button{
    margin: 5px;
}
.ovo .options button{
    margin: 5px;
}
.TeamxName{
    margin-top: 10px;
}
.TeamxName input{
    height: 30px;
    margin-left: 3px;
}
.done{
    margin-top: 10px;
}
.selected{
    border-color: grey;
    background-color: grey;
    color: white;
}

@media screen and (max-width: 780px) {
.top{
    display: flex;
    flex-direction: column;
    width: 95vw;
    justify-content: space-between;
    align-items: center;
}
.specSet{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    width: 95vw;
}
.types{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.p2, .t2 ,.ovo{
    width: 100%;
}
.TeamxName{
   display: flex;
   flex-direction: column;
}
.t2 .options button{
    margin-top: 5px;
}
.ovo .options button{
    margin-top: 5px;
}
.TeamxName input{
    margin-left: 0;
}
}