.container{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
} 
.winner{
    width: 400px;
    height: 400px;
    background-color: rgb(48, 48, 48);
    color: var(--text-color);
    border-radius: 25px;
    padding: 10px;
}
.dispose{
    display: none;
}
@media screen and (max-width: 780px) {
    .winner{
        width: 350px;
        height: 350px;
    }
}