.container{
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 999;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
} 
.winner{
    width: 400px;
    max-height: 400px;
    background-color: var(--modal-bg);
    color: var(--text-color);
    border-radius: 25px;
    padding: 10px;
}
.winner h2{
    margin: 0;
}
.winner h1{
    margin-top: 0;
}
.dispose{
    display: none;
}
@media screen and (max-width: 780px) {
    .container{
        height: 150%;
    }
    .winner{
        position: relative;
        top: -25vh;
        width: 350px;
        height: 400px;
    }
}